* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-box {
  padding: 20px;
}

.list-box:nth-child(odd) {
  background-color: #c0c0c0;
}

.list-box:nth-child(even) {
  background-color: #fff;
}

.categories {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.categories-box {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: yellow;
}

.categories-box:nth-child(1) {
  background-color: orange;
}

.categories-box:nth-child(5) {
  background-color: orange;
}

.categories-box:nth-child(3) {
  margin-right: 0;
}

.categories-box:nth-child(6) {
  margin-right: 0;
}

.categories-box:nth-child(9) {
  background-color: orange;
  margin-right: 0;
}
